#moves {
  display: flex;
  box-shadow: 10px 20px 20px black;
  width: 95rem;
  .moves {
    width: 250px;
    height: 460px;
    margin: 20px 20px;
    align-items: center;
    background: rgba(15, 33, 58, 0.51);
    text-align: center;
    padding: 20px 5px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.74);
    border-radius: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      box-shadow: 10px 20px 20px rgb(255, 255, 255);
      transform: scale(1);
      transition: 1s;
    }
    img:hover {
        width: 205px;
        transition: .4s;
        transform: scale(1.1);
        border-radius: 20px;
        box-shadow: 10px 20px 20px rgb(0, 0, 0);
      }
    h3 {
      margin-top: 40px;
    }
    h2 {
      margin-bottom: 20px;
    }
  }moves:hover {
       background: rgba(33, 32, 18, 0.85);
       width: 290px;
   }
}